In [1]:
from SoundMeters.cirrus import CirrusSonometer

In [2]:
from SoundMeters.modify import reduce_data

In [3]:
cirrus = CirrusSonometer('time_history_cirrus.csv')

In [4]:
cirrus.data.head()

,Fecha,Tiempo,LAeq,LAeqI,LAFMax,LAIMax,LAPeak,LASMax,LCeq,LCFMax,LCIMax,LCPeak,LCSMax,LZeq,LZPeak,Estado
0,07-03-2024,18:24:07,41.4,44.1,43.8,46.7,62.3,52.1,52.4,56.1,58.6,64.5,63.8,67.1,77.0,NaN
1,07-03-2024,18:24:08,42.4,45.2,44.9,47.0,64.8,48.4,53.6,56.2,59.5,66.8,59.9,68.2,76.8,NaN
2,07-03-2024,18:24:09,44.2,46.2,46.2,47.4,58.6,45.8,53.9,55.9,57.4,64.3,57.0,68.8,77.8,NaN
3,07-03-2024,18:24:10,43.8,46.4,45.8,48.5,61.3,44.9,54.0,55.9,58.6,65.0,55.1,68.1,77.1,NaN
4,07-03-2024,18:24:11,64.7,71.4,73.1,77.8,92.9,64.6,72.2,80.7,85.3,96.7,72.1,75.4,97.5,NaN

In [5]:
cirrus.__parse_data__()

In [6]:
cirrus.data.head()

,LAeq,LAeqI,LAFMax,LAIMax,LAPeak,LASMax,LCeq,LCFMax,LCIMax,LCPeak,LCSMax,LZeq,LZPeak,Estado
2024-03-07 18:24:07,41.4,44.1,43.8,46.7,62.3,52.1,52.4,56.1,58.6,64.5,63.8,67.1,77.0,NaN
2024-03-07 18:24:08,42.4,45.2,44.9,47.0,64.8,48.4,53.6,56.2,59.5,66.8,59.9,68.2,76.8,NaN
2024-03-07 18:24:09,44.2,46.2,46.2,47.4,58.6,45.8,53.9,55.9,57.4,64.3,57.0,68.8,77.8,NaN
2024-03-07 18:24:10,43.8,46.4,45.8,48.5,61.3,44.9,54.0,55.9,58.6,65.0,55.1,68.1,77.1,NaN
2024-03-07 18:24:11,64.7,71.4,73.1,77.8,92.9,64.6,72.2,80.7,85.3,96.7,72.1,75.4,97.5,NaN

In [7]:
new_data = reduce_data(cirrus)

In [8]:
new_data.head()

,LAeq,LAeqI,LAFMax,LAIMax,LAPeak,LASMax,LCeq,LCFMax,LCIMax,LCPeak,LCSMax,LZeq,LZPeak,Estado
2024-03-07 18:24:07,54.5,66.6,62.3,68.9,83.3,56.5,62.7,69.2,75.6,85.0,64.3,73.4,88.4,NaN
2024-03-07 18:25:07,59.8,70.5,66.9,72.7,86.3,62.0,73.4,81.3,87.7,92.3,76.4,82.0,97.4,NaN
2024-03-07 18:26:07,54.7,65.5,61.6,67.6,83.7,56.7,66.0,71.6,76.6,85.9,67.7,76.8,90.9,NaN
2024-03-07 18:27:07,53.0,64.3,60.2,66.7,82.8,55.2,61.3,68.0,73.4,84.5,63.1,72.1,88.6,NaN
2024-03-07 18:28:07,59.8,70.5,67.3,72.8,88.1,62.2,66.5,71.7,76.3,88.7,68.2,77.2,92.5,NaN